@charset "UTF-8";

@font-face { font-family: 'CookieRunOTF-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

h1, h2, h3, h4, .navbar-brand {
	font-family: 'CookieRunOTF-Bold';
	color: #01579B;	/*900*/
}

body {
	font-family: 'S-CoreDream-4Regular';
	background-color: #B3E5FC; /*100*/
}

.navbar {
	border-bottom: #039BE5 3px solid; /*600*/
}

#home {
	width: 100%;
	height: 40px;
}