@charset "UTF-8";
* { 
	width: 100%; 
	padding: 0; 
	margin: 0;
}

body { 
	margin: 0 auto; 
	width: 1200px;
}

li { 
	list-style: none;
}

a { 
	text-decoration: none; 
	color: inherit;
}

img { 
	border: none;
}

hr {
	margin-top: 5px;
	height:1px;
	border-width:0;
	background-color:gray;
}

#logo {
	height: 40px;
}

header {
    width: 1200px; 
    height: 100px;
}

.loginbar {
	text-align: right;
}

.loginbar > a {
	margin-right: 20px;
}

header h1 {
    width: 200px; 
    height: 100px; 
    padding-top: 30px; 
    float: left;
}

.mnav{
    width: 1000px; 
    height: 100px; 
    float: left;
}

.mnav > ul > li{
    width: 250px; 
    height: 40px; 
    margin-top: 30px;
    position: relative; 
    float: left;
}

.mnav > ul > li > a{
    display: block; 
    width: 250px; 
    height: 40px;
    text-align: center; 
    line-height: 40px;
    font-size: 18px; 
    color: #222328; 
    font-weight: bold;
}

.mnav > ul > li > a:hover{
    background-color: #5b75f5; 
    color: #fff;
}

.snav{
    width: 250px; 
    background-color: rgba(255,255,255,0.5);
    position: absolute; 
    z-index: 100; 
    color: #222328;
}

.snav li{
    width: 250px; 
    height: 40px;
}

.snav li a{
    display: block; 
    width: 250px; 
    height: 40px;
    line-height: 40px; 
    text-align: center; 
    font-weight: normal;
}

.snav li a:hover{
    background-color: #5b75f5; 
    color: #fff;
}

#main{
    width: 1200px; 
    height: 300px; 
    overflow: hidden;
    position: relative;
}

#main ul{
    width: 1200px; 
    height: 900px; 
    position: absolute;
}

#main li{
    height: 300px;
}

#contents { 
	width: 1200px; height: 200px;
}

.tabmenu {
    max-height: 200px; 
    max-width: 400px; 
    float: left; 
    position: relative;
}

.tabmenu > ul > li {
    display: inline-block; 
    float: left; 
    text-align: center;
    background-color: #ccc; 
    width:33.3%; 
    line-height: 30px;
}

.tabmenu label {
   height: 30px; 
   float: left; 
   display: block; 
   width: 100%;
   color: #222328;
}

.tabmenu input {
    display: none;
}

.tabCon {
    display: none; 
    position: absolute; 
    left: 0; 
    top: 30px;
    box-sizing: border-box; 
    text-align: left;
    border: 5px solid #5b75f5; 
    line-height: 1.3;
    color: #222328;
}

.table {
    border-collapse: collapse; 
    margin: 0 auto; 
    font-size: 15px;
}
.table tr > td {
    padding: 5px;
}

.tabCon li {
    float: left; 
    width: 130px; 
    height: 150px;
}

.tabCon img {
    display: block; 
    margin: 0 auto; 
    width: 120px; 
    height: 120px;
    padding: 15px 0;
}

.tabmenu input:checked ~ label {
    background-color: #5b75f5; 
    color: #fff;
}

.tabmenu input:checked ~ .tabCon {
    display: block;
}

.banner {
    float: left; 
    width: 400px; 
    height: 200px;
}

.banner ul>li {
    width: 400px; 
    height: 200px;
}

.banner img {
    width: 360px; 
    height: 180px; 
    display: block; 
    margin: 0 auto;
    padding: 10px 0;
}

.short {
    width: 400px; 
    height: 200px; 
    float: left;
}

.shortbtn {
    display: inline-block; 
    margin: 40px 5px;
    width: 120px; 
    float: left; 
}

footer {
    width: 1200px; 
    height: 100px; 
    color: #222328;
}

footer h1 {
    width: 200px; 
    height: 40px; 
    margin-top: 30px; 
    float: left;
}

img[alt = "logo_black"] {
	width: 200px;
	height: 40px;
}

.copyright {
    width: 800px; 
    height: 100px; 
    float: left; 
    text-align: center;
}

.copyright p {
    margin-top: 15px;
}

.copyright ul {
    display: inline-block; 
    width: 800px;
}

.copyright ul > li {
    float: left; 
    width: 200px; 
    padding: 2px 25px;
}

.sns {
    width: 200px; 
    height: 100px; 
    float: left;
}

.sns ul {
    display: inline-block;
    height: 100px;
}

.sns li {
    padding-top: 8px;
}