@charset "UTF-8";

body {
	margin: 20px;
	padding: 20px;
	font-size: 1rem;
	background: #555;
}

h1 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #000;
}

p {
	font-size: 1rem;
	font-weight: 100;
	color: #000;
	margin: 20px 0;
}

img {
	width: 250px;
	height: 170px;
}

button {
	margin-bottom: 20px;
}

.picture > div {
	position: relative;
	float: left;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 200px);
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
