@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');

h1, h2, h3, h4, h5, .navbar-brand {
	font-family: 'Jeju Gothic', sans-serif;
}

h5 {
	font-size: 18px;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
}

#header {
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

#header small {
	color: #ccc;
}

.info {
	margin-top: 3px;
}

.dropdown-toggle::after {
	content: none;
}